* {
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(193, 38%, 86%);
  --clr-accent: hsl(150, 100%, 66%);
  --clr-neutral-100: hsl(217, 19%, 38%);
  --clr-neutral-200: hsl(217, 19%, 24%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-neutral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding-inline: 2em;
}

.box {
  font-family: "Manrope", sans-serif;
  background-color: var(--clr-neutral-200);
  color: var(--clr-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  border-radius: 0.5em;
  max-width: 500px;
}

.advice-heading {
  color: var(--clr-accent);
  text-transform: uppercase;
  font-size: 1rem;
}

.advice-text {
  font-size: 1.75rem;
  font-weight: 800;
}

.cta {
  margin-block: 2rem;
  border-radius: 50%;
  border: 0;
  width: 70px;
  height: 70px;
  background-color: var(--clr-accent);
  position: relative;
  margin-bottom: -5rem;
  cursor: pointer;
}

.cta:hover {
  box-shadow: 0 0 5px 3px var(--clr-accent);
}
